body { background: #9bf90; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 56px; display: flex; }
.block-shipping-0 { color: #6a9562; font-size: 19px; margin-bottom: 5px; }
.block-order-1 { color: #650524; font-size: 12px; margin-bottom: 5px; }
.block-sms-2 { color: #a25d6c; font-size: 20px; margin-bottom: 5px; }
.block-router-3 { color: #fe3396; font-size: 17px; margin-bottom: 5px; }
.block-router-4 { color: #88dc3c; font-size: 16px; margin-bottom: 5px; }